{% extends "modeladmin/create.html" %}
{% load i18n wagtailadmin_tags modeladmin_tags %}

{% block header %}
    {% include "modeladmin/includes/header_with_history.html" with title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon merged=1 latest_log_entry=latest_log_entry history_url=history_url %}
{% endblock %}

{% block form_action %}{{ view.edit_url }}{% endblock %}

{% block more_action_items %}
    {% if user_can_delete %}
        <a href="{{ view.delete_url }}" class="button">{% trans "Delete" %}</a>
    {% endif %}
{% endblock %}
