{% extends "wagtailadmin/base.html" %}
{% load i18n modeladmin_tags wagtailadmin_tags %}

{% block bodyclass %}modeladmin{% endblock %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block css %}
    {{ block.super }}
    {{ view.media.css }}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ view.media.js }}
{% endblock %}

{% block content %}
    {% block header %}
        {% fragment as breadcrumb %}{% block breadcrumb %}{% endblock %}{% endfragment %}
        {% fragment as heading %}{% block h1 %}{% endblock %}{% endfragment %}
        {# Support for the description fragment is removed in Wagtail 6.3 #}
        {% fragment as description %}{% include 'modeladmin/includes/result_count.html' %}{% endfragment %}
        {% fragment as extra_actions %}
            {% block header_extra %}
                {% if view.list_export %}
                    {% include view.export_buttons_template_name %}
                {% endif %}
                {% if user_can_create %}
                    {% include 'modeladmin/includes/button.html' with button=view.button_helper.add_button %}
                {% endif %}
            {% endblock %}
        {% endfragment %}
        {% fragment as search %}{% block search %}{% search_form %}{% endblock %}{% endfragment %}
        {% fragment as extra_rows %}{% block extra_rows %}{% endblock %}{% endfragment %}
        {% fragment as header_template_name %}modeladmin/includes/header.html{% endfragment %}
        {% include header_template_name with classname="w-header--hasform" breadcrumb=breadcrumb heading=heading title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon description=description search=search extra_actions=extra_actions extra_rows=extra_rows %}
    {% endblock %}

    {% block content_main %}
        <div class="main-content">
            <div class="row">
                {% block content_cols %}

                    {% block filters %}
                        {% if view.has_filters and all_count %}
                            <div class="changelist-filter col3">
                                <h2>{% trans 'Filter' %}</h2>
                                {% for spec in view.filter_specs %}{% admin_list_filter view spec %}{% endfor %}
                            </div>
                        {% endif %}
                    {% endblock %}

                    <div class="result-list {% if view.has_filters and all_count %}col9{% else %}col12{% endif %}">
                        {% block result_list %}
                            {% if not all_count %}
                                <div class="nice-padding" style="margin-top:30px;">
                                    {% if no_valid_parents %}
                                        <p>{% blocktrans trimmed with view.verbose_name_plural as name %}No {{ name }} have been created yet. One of the following must be created before you can add any {{ name }}:{% endblocktrans %}</p>
                                        <ul>
                                            {% for type in required_parent_types %}<li><b>{{ type|title }}</b></li>{% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>{% blocktrans trimmed with view.verbose_name_plural as name %}No {{ name }} have been created yet.{% endblocktrans %}
                                            {% if user_can_create %}
                                                {% blocktrans trimmed with view.create_url as url %}
                                                    Why not <a href="{{ url }}">add one</a>?
                                                {% endblocktrans %}
                                            {% endif %}</p>
                                    {% endif %}
                                </div>
                            {% else %}
                                {% result_list %}
                            {% endif %}
                        {% endblock %}
                    </div>

                    {% block pagination %}
                    <div>
                        <nav class="pagination" aria-label="{% trans 'Pagination' %}">
                            <div class="pagination__start">
                                <p>{% blocktrans trimmed with page_obj.number as page_num and paginator.num_pages as total_pages %}Page {{ page_num }} of {{ total_pages }}{% endblocktrans %}</p>
                            </div>
                            <ul>
                                {% pagination_link_previous page_obj view %}
                                {% for page_number in elided_page_range %}
                                    <li class="pagination__page-number{% if page_number == page_obj.number %} pagination__page-number--current{% endif %}">
                                        {% if page_number == paginator.ELLIPSIS %}
                                            <span>{{ page_number }}</span>
                                        {% else %}
                                            <a href="{{ url_path }}{% querystring p=page_number %}" {% if page_number == items.number %} aria-current="page"{% endif %}>
                                                {{ page_number|intcomma }}
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                {% pagination_link_next page_obj view %}
                            </ul>
                            <div class="pagination__end">
                                {{ paginator.items_count_label|capfirst }}
                            </div>
                        </nav>
                    </div>
                    {% endblock %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}

{% endblock %}
